{% extends "index.html" %}

{% block content %}

{% for card in context %}
{% if card[2] == leader_score %}
<div class="main__card main__card_leader" id="{{card[0]}}">
{% else %}
<div class="main__card" id="{{card[0]}}">
{% endif %}
    <img class="main__image" src="{{url_for('static', filename=card[1])}}">
    <p class="main__score"><span class="main__score_id_value">Конкурсант <b>{{card[0]}}</b></span>
        <span class="main__score_votes">Голосов: <b class="main__score_value">{{card[2]}}</b></span>
    </p>
    <div class="main__button_container">
        <button class="main__button main__button_decrease_score" type="button">-1</button>
        <button class="main__button main__button_increase_score" type="submit">+1</button>
    </div>
    <div class="main__сard_comments_container">
        <div class="main__сard_comments"></div>
        <input type="text" class="main__сard_comment_input" placeholder="Ваш положительный 30-значный отзыв" autocomplete="off"
               maxlength="30">
        <button class="main__сard_send_comment" type="submit">Добавить комментарий</button>
    </div>
</div>
{% endfor %}

{% endblock content %}
