<!DOCTYPE html>
<html class="page" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кошачья галерея</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body class="page__body">
<div class="page__container">
    <header class="page__header">
        <a href="/">
            <img class="page__logo" src="{{url_for('static', filename='logo_cat.jpg')}}" height="60" width="60" alt="Логотип сайта. Кот">
        </a>
        <h1 class="page__name">Котогалерея</h1>
    </header>

    <main class="main">
        <h1 class="visually-hidden">Галерея для голосования</h1>
        <div class="main__container">
            {% block content %}
            <div class="main__card leader">
                <img class="main__image" src="{{url_for('static', filename='/cats/1687456031_zhivotnye-9.jpg')}}">
                <p>Голосов: 100</p>
                <div class="main__button_container">
                    <button class="main__button">-1</button>
                    <button class="main__button">+1</button>
                </div>
                <div class="main__сard_comments_container">
                    <div class="main__сard_comments"></div>
                    <input type="text">
                    <button class="main__сard_send_comment">Добавить комментарий</button>
                </div>
            </div>
            <div class="main__card">
                <img class="main__image" src="{{url_for('static', filename='/cats/1687456031_zhivotnye-9.jpg')}}">
            </div>
            <div class="main__card">
                <img class="main__image" src="{{url_for('static', filename='/cats/1687456031_zhivotnye-9.jpg')}}">
            </div>
            {% endblock content %}
        </div>

        <div class="main__modal_decrease_score">
            <img class="main__modal_img" src="{{url_for('static', filename='cat_decrease_score.jpg')}}" height="746" width="640" alt="Недовольный кот. Нельзя снижать рейтинг">
            <p>Это кто тут не любит котиков?</p>
            <p>А теперь погладь меня</p>
        </div>
    </main>

    <footer class="page__footer">
        <a class="page__footer_link" href="https://github.com/Regeace/cats_gallery">Проект котогалереи на github</a>
    </footer>
</div>

<script src="{{url_for('static', filename='scripts.js')}}"></script>
</body>
</html>